<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Поиск продукта</title>
    <style type="text/css">
      h2 { font-size  : 14pt;
           color      : black
      }
      label { font-size  : 14pt;
              color      : green
      }
    </style>
</head>
<body>
  <h2 align="center"></h2>
    <div align = center>
        <form action="", method ="POST">
           <label>Введите количество дней:</label>
            <input type="month" name = input_data placeholder = input_data>


            <br><br>

            <input type = submit value ="Отправить">
        </form>
    </div>

</body>
</html>